.card,
.card2 {
  background-color: rgba(255, 255, 255, 0.953);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  position: relative;
}
.card {
  padding: 2rem;
}
.card2 {
  overflow: hidden;
}
.navigation {
  color: #000;
  padding-bottom: 0.5rem;
}

.scroll {
  padding: 0 10px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 90%;
}

/* Smaller Mobile View (e.g., iPhone SE) */
@media only screen and (max-width: 767px) {
  .card {
    margin: 0;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.912);
  }
}

/* Mobile Landscape View */
@media only screen and (max-width: 991px) and (orientation: landscape) {
  .card {
    margin: 0;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.912);
  }
}

/* Tablet Portrait View */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .card,
  .card2 {
    margin: 10rem 5rem;
    height: 60vh;
    border-radius: 10px;
  }
  .card2 {
    height: 100%;
  }
}

/* Tablet Landscape View */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .card,
  .card2 {
    margin: 10rem;
    height: 60vh;
    border-radius: 10px;
  }
}

/* Desktop View */
@media only screen and (min-width: 1200px) {
  .card,
  .card2 {
    margin: 5rem 15rem;
    height: 80vh;
    border-radius: 10px;
  }
}
