.pageLayout {
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  /* background-image: url(../../assets/jpg/bg.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right; */

  /* Size and position your background image */
  background-size: cover;
  background-position: center;

  /* Set your background image */
  background-image: 
    /* Define a linear gradient that starts with white and transitions to transparent */ linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.545) 0%,
      rgba(255, 255, 255, 0.232) 50%
    ),
    /* Then, set your image URL */ url(../../assets/jpg/bg.avif);
}
