.input {
  min-width: 400px;
  height: 70px;
  text-indent: 10px;
  padding: 5px;
  text-align: center;
  font-size: 1.3em;
  letter-spacing: 0.1em;
  border: 1px solid #999;
  outline: none;
}
.input:focus {
  border: 2px dashed #433092;
  color: #433092;
}
.label {
  font-size: 1.1rem;
  margin-bottom: 6px;
}
.input,
.label {
  font-weight: 600;
}
