.input {
  width: 400px;
  height: 70px;
  text-indent: 10px;
  padding: 5px;
  text-align: center;
  font-size: 1.3em;
  letter-spacing: 0.1em;
  border: 1px solid #999;
  outline: none;
}
.input:focus {
  border: 2px dashed #433092;
  color: #433092;
}
.label {
  font-size: 1.1rem;
  margin-bottom: 6px;
}
.input,
.label {
  font-weight: 600;
}

/* Smaller Mobile View (e.g., iPhone SE) */
@media only screen and (max-width: 767px) {
  .input {
    width: 300px;
    font-size: 1.1em;
  }
  .label {
    font-size: 1rem;
  }
}

/* Mobile Landscape View */
@media only screen and (max-width: 991px) and (orientation: landscape) {
  .input {
    width: 400px;
    font-size: 1.3em;
  }
}
